# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env

# Flask / runtime
instance/
*.log

# Database
*.db
*.sqlite3

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Migrations (si tu en ajoutes plus tard)
migrations/

